.fixed_header{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed_header tbody{
    display: block;
    width: 90%;
    overflow: auto;
    height: 50%;

}

.fixed_header thead tr {
    display: block;
    width: 93%;

}

.fixed_header thead {
    background: black;
    color:#fff;
}

.fixed_header th, .fixed_header td {
    width: 5%;
    text-align: -webkit-left;


}
table {
    alignment: center;
}

.back-reply-button{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: url("../Images/reply-all-button.png");
    background-size: cover;
}



.form-border {
    border-left: #a5720b solid 1px;
    height: 400px;
    padding-top: 10px;
}