.rectangle{
    height: 30px;
    width: auto;
    background-color: #856404;
    text-align: center;
    vertical-align: center;
}

.rcconers {
    border-radius: 15px;
    border: 6px;
}


.font-styles100{
    color: white;
    font-size: 12px;
    padding: 6px;
}