.circle-plus {
    background: url("/src/components/Images/plus.png");
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    cursor: pointer;
    padding: 30px;
    margin-right: 20px;
}
.circle-minus {
    background: url("/src/components/Images/negative.png");
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    cursor: pointer;
    padding: 30px;
    margin-left: 20px;
}
.button-print {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.button-stack {
    width: 100%;
    height: 30px;
}
.text-color-button {
    color: white;
    background-color: #0c5460;
}
.text-color-back-button {
    color: white;
    background-color: darkred;
}
.form-style {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(10%);
}

h1,h3{
    padding-top: 10px;
    padding-bottom: 30px;
    transform: translate(-10%);
}