.circle-plus {
    background: url("/src/components/Images/plus.png");
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    cursor: pointer;
    padding: 30px;
    margin-right: 20px;
}
.circle-minus {
    background: url("/src/components/Images/negative.png");
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    cursor: pointer;
    padding: 30px;
    margin-left: 20px;
}